.cta {
    background-color: var(--color-primary);
    background-image: linear-gradient(
        to right bottom,
        #eb984e,
        var(--color-primary)
    );
    border-radius: 15px;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.ctaTextBox {
    color: #45260a;
    padding: 6.4rem;
    padding-top: 4.8rem;
}

.ctaHeading {
    color: #45260a;
    margin-bottom: 3.2rem;
}

.ctaText {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 4.8rem;
}

.ctaImageBox {
    background-image: linear-gradient(
            to right bottom,
            rgba(235, 152, 78, 0.25),
            rgba(230, 125, 34, 0.25)
        ),
        url("../../../images/eating.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
}

@media (max-width: 34em) {
    .ctaTextBox {
        padding: 3.2rem;
    }

    .ctaImageBox {
        grid-row: 1;
        height: 36rem;
    }
}
