.ctaForm label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.ctaForm input,
.ctaForm select {
    background-color: var(--color-tint-light, #fdf2e9);
    border: none;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: inherit;
    font-family: inherit;
    font-size: 1.8rem;
    padding: 1.2rem;
    width: 100%;
}

.ctaForm input::placeholder {
    color: #aaa;
}

.btnForm {
    align-self: end;
    background-color: #45260a;
    color: var(--color-tint-light);
    padding: 1.2rem;
}

.btnForm:hover {
    color: #555;
    background-color: #fff;
}

.ctaForm *:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}
