.stepImageBox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.stepImageBox::after,
.stepImageBox::before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
}

.stepImageBox::before {
    background-color: #fdf2e9;
    /* Padding is used to set height of element */
    padding-bottom: 60%;
    width: 60%;
    z-index: -2;
}

.stepImageBox::after {
    background-color: #fae5d3;
    /* Padding is used to set height of element */
    padding-bottom: 45%;
    width: 45%;
    z-index: -1;
}

.stepImage {
    width: 35%;
}

.stepNumber {
    color: #ddd;
    font-size: 8.6rem;
    font-weight: 600;
}

.stepDescription {
    font-size: 1.8rem;
    line-height: 1.8;
}

/* Portrait Tablets - Below 944px */
@media (max-width: 59em) {
    .stepNumber {
        font-size: 7.4rem;
    }
}
