.headingPrimary,
.headingSecondary,
.headingTertiary {
    color: #333;
    font-weight: 700;
    letter-spacing: -0.5px;
}

.headingPrimary {
    font-size: 5.2rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
}

.headingSecondary {
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 9.6rem;
}

.headingTertiary {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
}

.subheading {
    color: var(--color-shade);
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.75px;
    margin-bottom: 1.6rem;
    text-transform: uppercase;
}

/* Laptop - Below 1344px */

@media (max-width: 84em) {
    .headingPrimary {
        font-size: 4.4rem;
    }
}

/* Large Tablet - Below 1200px */

@media (max-width: 75em) {
    .headingSecondary {
        font-size: 3.6rem;
    }

    .headingTertiary {
        font-size: 2.4rem;
    }
}

/* Mini Tablet - Below 752px */

@media (max-width: 47em) {
    .headingSecondary {
        font-size: 4.8rem;
    }
}
