.header {
    background-color: #fdf2e9;
    height: 9.6rem;
    padding: 0 4.8rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sticky {
    position: fixed;
    bottom: 0;
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
    height: 8rem;
    top: 0;
    width: 100%;
    z-index: 100;
}

/* Laptop - Below 1200px */
@media (max-width: 75em) {
    .header {
        padding: 0 3.2rem;
    }

    .mainNavList {
        gap: 3.2rem;
    }
}
