.header {
    background-color: #fdf2e9;
    height: 9.6rem;
    padding: 0 4.8rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainNavList {
    list-style: none;

    display: flex;
    align-items: center;
    gap: 4.8rem;
}

.mainNavLink:link,
.mainNavLink:visited {
    color: #333;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s;
}

.mainNavLink:hover,
.mainNavLink:active {
    color: #cf711f;
}

.navCta.mainNavLink:link,
.navCta.mainNavLink:visited {
    background-color: var(--color-primary);
    border-radius: 9px;
    color: #fff;
    padding: 1.2rem 2.4rem;
}

.navCta.mainNavLink:hover,
.navCta.mainNavLink:active {
    background-color: #cf711f;
}

/* Media Query for less than 1200px */
@media (max-width: 75em) {
    .header {
        padding: 0 3.2rem;
    }
}
