.btn,
.btn:link,
.btn:visited {
    border-radius: 9px;
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
    padding: 1.6rem 3.2rem;
    text-align: center;
    text-decoration: none;
    transition: all 300ms;

    /* Only for .btn */
    border: none;
    cursor: pointer;
    font-family: inherit;
}

.btnFull,
.btnFull:link,
.btnFull:visited {
    background-color: var(--color-primary);
    color: #fff;
}

.btnFull:hover,
.btnFull:active {
    background-color: #cf711f;
}

.btnOutline,
.btnOutline:link,
.btnOutline:visited {
    background-color: #fff;
    color: #555;
}

.btnOutline:hover,
.btnOutline:active {
    background-color: #fdf2e9;
    box-shadow: inset 0 0 0 3px #fff;
}

/* Mobile - Below 544px */

@media (max-width: 34em) {
    .btn,
    .btn:link,
    .btn:visited {
        padding: 2.4rem 1.6rem;
    }
}
